<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{request.title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<header class="header">
    <th:block th:include="/_menu"></th:block>
    <br/>
    <br/>
</header>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <div th:if="${message}" th:fragment="alert (type, message)" class="alert alert-dismissible"
                 th:classappend="'alert-' + ${type}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:text="${message}">Test</span>
            </div>

            <h1 th:text="#{request.presentation.message}"></h1>
            <form th:action="@{/request}" th:method="post">
                <div>
                    <label style="margin-right: 10px" th:text="#{request.theme}"></label>
                    <input type="text" name="theme" required autofocus/>
                </div>
                <div><label style="margin-right: 9px" th:text="#{request.description}"></label>
                    <input type="text" name="description" required autofocus/>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" th:text="#{request.button.push}"></button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer role="contentinfo" class="footer">
    <div class="container">
        <span class="text-muted">© Vitalii Mamchur, 2020</span>
    </div>
</footer>

</body>
</html>